@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {

  color: rgb(var(--foreground-rgb));
  background: #808080;
  background-image: url('../../public/bg-vert.webp');
  background-repeat: no-repeat;
  background-size: cover
 /*  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));; */
}

.blob {
  background: linear-gradient(#212121, #212121) padding-box,
            linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) 
}
